html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.nav-bar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* set the navbar to fixed position */
    top: 0; /* position the navbar at the top of the page */
    width: 100%; /* full width */
}

.nav-list {
    list-style: none;
    padding: 25px;
    margin: 0;
    /* flex properties */
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 20px;
    font-size: 16px;
}

.link {
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: 0.4s color ease-in-out;
}

.link:hover {
    color: rgb(255, 209, 240);
}

.grid {
    display: flex;
    padding: 0 25px;
}

.grid-col {
    width: 33%;
}

.grid-img {
    width: 100%;
}

.grid-item {
    margin: 5px;
}

.about-container {
    max-width: 400px;
    padding: 25px;
}

.bold-pink-text {
    color: rgb(255, 97, 202);
    font-weight: 600;
}